extend _one_block_layout

append body
    mj-text(font-family='Georgia', font-size='24px', line-height='34px', align='center')
        | Email
        br
        | Confirmation
    mj-spacer
    mj-button(
        background-color='linear-gradient(18deg, #24C4AF 0%, #24A8AF 100%), #24C4AF',
        text-transform='uppercase',
        border-radius='20px')
        | Confirm email
    mj-spacer
    mj-text(color='#222222', font-size='13px', line-height='23px', font-family='Georgia')
        p
        | Registered email
            br
            | Thanks
            br
            | - BinarCode Team
